<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buyer Home Page</title>
    <link rel="stylesheet" href="/css/buyerPurchaseList.css">
    <link rel="stylesheet" href="/css/themify-icons/themify-icons.css">
    <link rel="shortcut icon" href="/image/spicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

    <nav class="nav_bar">
        <div class="left_obj">
            <div class="logo">
                <a href="/home">
                    <img src="/image/shop_logo.png" alt="" width="60px">
                </a>
            </div>
            <div class="nav_title">Đơn Mua Của Bạn</div>
        </div>

        <div class="right_obj">
            <div class="user">
                <i class="ti-user"></i>
                <span>
                    <% if(loginUser){ %>
                        Hello <%= loginUser %>
                            ID: <%= userId %>
                                <% } %>
                </span>
            </div>
            <div class="noti">
                <i class="ti-bell"></i>
            </div>
            <button class="help_btn">Trung Tâm Trợ Giúp</button>
        </div>
    </nav>

    <div class="w3-container">
        <table class="w3-table-all w3-hoverable">
            <thead>
                <tr class="w3-light-grey">
                    <th>Order ID</th>
                    <th>Item name</th>
                    <th>Item ID</th>
                    <th>Item price</th>
                    <th>Quantity</th>
                    <th>Total payment</th>
                    <th>Pay method</th>
                    <th>Day&Time order</th>
                    <th>Delivery date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i < dataPurchase.length; i++) { %>
                    <tr>
                        <td>
                            <%= dataPurchase[i].Order_id %>
                        </td>
                        <td>
                            <a class="item_image__server_render" href="/product/<%= dataPurchase[i].Pid %> "
                                target="_blank" style="text-decoration: none">
                                <%= dataPurchase[i].Item_name %>
                            </a>

                        </td>
                        <td>
                            <%= dataPurchase[i].Pid %>
                        </td>
                        <td>
                            <%= dataPurchase[i].price %> đ
                        </td>
                        <td>
                            <%= dataPurchase[i].quantity %>
                        </td>
                        <td>
                            <%= dataPurchase[i].total %> đ
                        </td>
                        <td>
                            <%= dataPurchase[i].pay_method %>
                        </td>
                        <td>
                            <%= dataPurchase[i].date_time_order %>
                        </td>
                        <td>
                            <%= dataPurchase[i].date_time_delivery %>
                        </td>
                        <td>
                            <%= dataPurchase[i].status %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>


        </table>
    </div>

</body>

</html>