<%- include('./parts/_headera.ejs') %>
<%- include('./parts/_headerb2.ejs') %>

    <div class="below_container">
        <div class="free_ship">
            <i class="ti-truck"></i>
            <span>Nhấn vào mục Mã giảm giá ở cuối trang để hưởng miễn phí vận chuyển bạn nhé!</span>
        </div>

        <div class="header_order">
            <div class="id_order">Mã sản phẩm</div>
            <div class="title_order">Sản phẩm</div>
            <div class="payment_order">Giá</div>
            <div class="amount_order">Số lượng</div>
            <div class="total_payment_order">Tổng cộng</div>
        </div>

        <div class="user_order">
        <div class="user_order_cover">
            <div class="id_order"><%= productInfo.Pid %></div>
            <div class="title_order"><%= productInfo.item_name %></div>
            <div class="payment_order"><%= productInfo.price %></div>
            <div class="amount_order"><%= quantity %></div>
            <div class="total_payment_order"><%= total %></div>
        </div>
            <div class="voucher">
                <i class="ti-ticket"></i>
                <span>Thêm mã giảm giá của Shop</span>
            </div>
            <div class="ship">
                <i class="ti-truck"></i>
                <span>Giảm ₫25.000 phí vận chuyển đơn tối thiểu ₫50.000  
                    <span class="more">Tìm hiểu thêm
                        <div class="more_pop_up">
                            <div class="more_pop_up_cover">
                            <div class="sale_off_header">Khuyến mãi vận chuyển</div>
                            <div class="sale_off_details">
                                <div>Đơn hàng tối thiểu
                                    <p>₫50.000</p>
                                </div>
                                <div>Ưu đãi
                                    <p>&nbsp;</p>
                                    <p>₫25.000</p>
                                </div>
                                <div>Phương thức vận chuyển
                                    <p>&nbsp;</p>
                                    <p>Nhanh</p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </span>
                </span>
            </div>
            </div>

            <div class="bill">
                <div class="bill_voucher">
                    <div class="bill_voucher_header">
                        <i class="ti-ticket"></i>
                        <span>Shopee Voucher</span>
                    </div>
                    <div class="voucher_select">
                        <a href="">Chọn Hoặc Nhập Mã</a>
                    </div>
                </div>

                <form action="/handleOrder" method="POST">
                    <div class="user_address">
                    <div class="enter_phone_number">
                        <label for="">Contact number: </label>
                        <input type="text" name="contactNumber">
                    </div>

                        <div class="enter_address">
                            <label for="">Ship to address: </label>
                            <input type="text" name="orderAddress">
                        </div>
                    
                    <div class="location">
                        <label for="">Ship to address: </label>
                        <span class="loc"><%= orderLocation %></span>
                    </div>
                    </div>

                    <div class="bill_confirm">
                        <div class="total">
                            <div class="pay_method">
                                <div>Phương thức thanh toán: </div>
                                <div class="method_select">
                                    <div><input style="margin-right: 8px" type="radio" name="payMethod" value="Tiền mặt">Tiền mặt</div>
                                    <div><input style="margin-right: 8px" type="radio" name="payMethod" value="Chuyển khoản">Chuyển khoản</div>
                                </div>
                            </div>
                            <span style="font-size: 14px;">Tổng thanh toán (<%= quantity %> Sản Phẩm): ₫<%= total %></span>
                            <div class="order_btn">
                                <input type="text" hidden value="<%= Uid %>" name="Uid" />
                                <input type="text" hidden value="<%= productInfo.item_name %>" name="itemName" />
                                <input type="text" hidden value="<%= productInfo.Pid %>" name="Pid" />
                                <input type="text" hidden value="<%= productInfo.price %>" name="itemPrice" />
                                <input type="text" hidden value="<%= quantity %>" name="quantity" />
                                <input type="text" hidden value="<%= total %>" name="totalPayment" />
                                <input type="text" hidden value="<%= orderLocation %>" name="orderLocation" />
                                <button class="btn" type="submit">Đặt hàng</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

    </div>

    
</body>
<script>

</script>
</html>

<!-- 
    <h1>Your Order - Đơn hàng:</h1>

    <div>
        User ID: <%= Uid %>
    </div>
    <div>
        Item name: <%= productInfo.item_name %>
    </div>
    <div>
        Product ID: <%= productInfo.Pid %>
    </div>
    <div>
        Product price: <%= productInfo.price %> đ
    </div>
    <div>
        Order quantity: <%= quantity %>
    </div>
    <div>
        Total payment: <%= total %> VND
    </div>
    <div>
        Ship to: <%= orderLocation %>
    </div>

    <form action="/handleOrder" method="POST">
        <div>
            <label for="">Ship to address: </label>
            <input type="text" name="orderAddress">
        </div>
        <div>
            <label for="">Contact number: </label>
            <input type="text" name="contactNumber">
        </div>
        <div>
            <Div>Payment method - Phương thức thanh toán: </Div>
            <input type="radio" name="payMethod" value="Cash - Tiền mặt">
            <label>Cash - Tiền mặt</label><br>
            <input type="radio" name="payMethod" value="Transfer - Chuyển khoản">
            <label>Transfer - Chuyển khoản</label><br>
        </div>
        <div>
                <input type="text" hidden value="<%= Uid %>" name="Uid" />
                <input type="text" hidden value="<%= productInfo.item_name %>" name="itemName" />
                <input type="text" hidden value="<%= productInfo.Pid %>" name="Pid" />
                <input type="text" hidden value="<%= productInfo.price %>" name="itemPrice" />
                <input type="text" hidden value="<%= quantity %>" name="quantity" />
                <input type="text" hidden value="<%= total %>" name="totalPayment" />
                <input type="text" hidden value="<%= orderLocation %>" name="orderLocation" />

            <button type="submit">Order - Đặt hàng</button>
        </div>

    </form>






 -->
