<%- include('./parts/_headera.ejs') %>
<link rel="stylesheet" href="/css/button.css">
<link rel="stylesheet" href="/css/cart.css">
<script src="/src/public/js/cart.js"></script>
<%- include('./parts/_headerb2.ejs') %>

<div class="shop"></div>
<% var curShop = '';
var mid = '';
var imagepath = '';
for(let i=0; i < products.length; i++) {
    mid = products[i].MID;
    imagepath = "/image/product/"+products[i].Pid+".jpg";
    if (curShop != mid) { %>
        <% if (i>0) { %> 
    </div>
        <% } %>
    <div class="shop">
        <!--shop name start-->
        <div class="shopname">  <!-- wijCjS, _17ffUV-->
            <div class="checkbox"> <!--Check box _3o7bbN -->
                <label class="stardust-checkbox">
                    <input class="stardust-checkbox__input" type="checkbox" value="<%=products[i].mid%>" id="shopcheckbox">
                    <div class="stardust-checkbox__box"></div> 
                </label>
            </div><!--Check box close -->
            <a class="name" href="">
                <span style="margin-left: 10px;"><%=products[i].MERCHANT%></span>
            </a>
        </div>
        <!--"shop name end-->
        <% curShop = mid;
    }  %>
        <!--product start-->
        <div class="_1row">
        <div class="product">
            <input type="text" hidden
                    value="0"
                    name="pid[<%= products[i].Pid %>]"
                    id=""/>                    
            <div class="checkbox"> <!--Check box -->
                <label class="stardust-checkbox">
                    <input class="stardust-checkbox__input" type="checkbox" id="productcheckbox">
                    <div class="stardust-checkbox__box"></div>
                </label>
            </div><!--Check box close -->
            <div class ="productname">
                <a>
                    <div class="_2pic" style="background-image: 
                        url('/image/product/<%=products[i].PID%>.jpg');"></div>
                </a>
                <a class="name _3text" title="<%= products[i].item_name %>" href="/product/<%= products[i].PID %>"><%= products[i].item_name %></a>
            </div>
            <span class="otherdetail _3price">₫<%=products[i].price%></span>
            <div class="otherdetail _3quantity"> <!--quantity start -->
                <div class="_3he7rw shopee-input-quantity">
                    <input class="_3Ell0h _37H5-t" type="number" role="spinbutton" aria-valuenow="2"
                        value="<%=products[i].quantity%>" min ="1" max="99" id="quantity" name="quant[<%=products[i].pid%>]">
                </div>
            </div> <!--quantity  end -->
            <form action="/cartDeleteItem" method="POST">
                <div class="otherdetail _3del">
                    <input type="text" hidden value="<%= products[i].PID %>" id="pid" name="pid"/>
                    <button class="btdel" type="submit">Xóa</button>
                </div>
            </form>
        </div>
        </div>
        <!--product end-->
<% } %>
</div>
<div class="bill">
    <div class="bill_voucher1 footer">
        <div class="checkall_label grid-item">
            <div class="checkbox checkboxall grid-item"> <!--Check box -->
                <label class="stardust-checkbox">
                    <input class="stardust-checkbox__input" type="checkbox" id="checkAll">
                    <div class="stardust-checkbox__box"></div>
                </label>
            </div><!--Check box close -->
            <span style="margin-left: 10px;">Chọn tất cả</span>
        </div>
        <div style="width: 60%; display: flex;">
            <div class="bill_voucher_header">
                <i class="ti-ticket"></i>
                <span>Shopee Voucher</span>
            </div>
            <div class="voucher_select">
                <a href="">Chọn Hoặc Nhập Mã</a>
            </div>
        </div>
    </div>

    <form action="/handleOrder" method="POST">
        <div class="user_address footer">
            <div class="enter_phone_number grid-item">
                <label for="">Contact number: </label>
                <input type="text" name="contactNumber" id="contactNumber">
            </div>

            <div class="enter_address grid-item">
                <label for="">Ship to address: </label>
                <input type="text" name="orderAddress" id="location">
            </div>
        
            <div class="update grid-item" style="display: flex; align-items: center; position: relative;">
                <button class="btn btn-inline btn-tinted btn--l GfiOwy RT2b7v" aria-disabled="false" type="button" 
                    onClick="updateCart()">Cập nhật giỏ hàng</button>
            </div>
        </div>

        <div class="bill_confirm footer">
            <div class="total">
                <div class="pay_method grid-item">
                    <div>Phương thức thanh toán: </div>
                    <div class="method_select">
                        <div><input style="margin-right: 8px" type="radio" name="payMethod" value="Tiền mặt">Tiền mặt</div>
                        <div><input style="margin-right: 8px" type="radio" name="payMethod" value="Chuyển khoản">Chuyển khoản</div>
                    </div>
                </div>
                <span  class="grid-item" style="font-size: 14px;">Tổng thanh toán (Sản Phẩm): ₫</span>
                <div class="order_btn grid-item">
                    <button class="btn btn-inline btn-solid-primary btn--l GfiOwy" type="submit">Đặt hàng</button>
                </div>
            </div>
        </div>
    </form>

</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $('#checkAll').click(function () {
        var users = $('input[name="username[]"]').map(function(){ 
            return this.value; 
        }).get();

        var mid = $('.stardust-checkbox__input:checked').val();    
        $(':checkbox.stardust-checkbox__input').prop('checked', this.checked);  
        var total = $('#')  
    });
    $('#add').click(function () {
        var users = $('input[vlue="username[]"]').map(function(){ 
            return this.value; 
        }).get();
        var mid = $('.stardust-checkbox__input:checked').name();    
        $(':checkbox.stardust-checkbox__input').prop('checked', this.checked);  
        var total = $('#')  
    });
    $(document).ready(function () {
        jQuery('<button class="_3Ell0h quantity-down">'+
                        '<svg enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0" y="0" class="shopee-svg-icon">'+
                            '<polygon points="4.5 4.5 3.5 4.5 0 4.5 0 5.5 3.5 5.5 4.5 5.5 10 5.5 10 4.5"></polygon>'+
                        '</svg>'+
                    '</button>').insertBefore('.shopee-input-quantity input');
        jQuery('<button class="_3Ell0h quantity-up">'+
                        '<svg enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0" y="0" class="shopee-svg-icon icon-plus-sign">'+
                            '<polygon points="10 4.5 5.5 4.5 5.5 0 4.5 0 4.5 4.5 0 4.5 0 5.5 4.5 5.5 4.5 10 5.5 10 5.5 5.5 10 5.5"></polygon>'+
                        '</svg>'+
                    '</button>').insertAfter('.shopee-input-quantity input');
        jQuery('.shopee-input-quantity').each(function () {
            var spinner = jQuery(this),
            input = spinner.find('input[type="number"]'),
            btnUp = spinner.find('.quantity-up'),
            btnDown = spinner.find('.quantity-down'),
            min = input.attr('min'),
            max = input.attr('max');

            btnUp.click(function () {
                var oldValue = parseFloat(input.val());
                if (oldValue >= max) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue + 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });

            btnDown.click(function () {
                var oldValue = parseFloat(input.val());
                if (oldValue <= min) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue - 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });
        });
    });
    deleteItem = function () {
        var pid = document.getElementsByName("pid");
        $('product').css("visibility", "hidden")
        for(var i =0; i<pid.length(); i++) {
            if (pid[i].value==1) {
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({ product: pid[i].id}),
                    dataType: 'json',
                    contentType: "application/json; charset=UTF-8",
                    url: location.protocol + '//' + location.host + '/cartDeleteItem',
                    success: function (res) {
                        Swal.fire({
                            text: res,
                            icon: "success",
                            buttons: false,
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 3000,
                        });
                    },
                    error: function () {
                        Swal.fire({
                            text: "Đã xảy ra lỗi.",
                            icon: 'warning',
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 3000,
                        });
                        // alert("Vui lòng đăng nhập trước");
                    }
                });
                break;
            }
        }
    }
    updateCart = function() {
        var pid = $('input[name^=pid]').map (function(idx, elem) {
            return($(elem).val());
        }).get();
        var quantity = $('input[name^=quan]').map (function(idx, elem) {
            return($(elem).val());
        }).get();
        var senddata = JSON.stringify(quantity);
        console.log(senddata);
                $.ajax({
                    type: 'POST',
                    data: senddata,
                    dataType: "json",
                    url: location.protocol + '//' + location.host + '/updateCart',
                    success: function (res) {
                        Swal.fire({
                            text: res,
                            icon: "success",
                            buttons: false,
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 3000,
                        });
                    },
                    error: function () {
                        Swal.fire({
                            text: "Đã xảy ra lỗi.",
                            icon: 'warning',
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 3000,
                        });
                        // alert("Vui lòng đăng nhập trước");
                    }
                });     

    }
    handleOver = function(){}
</script>

<%- include('./parts/_footer.ejs') %>