<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller</title>
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
    <link rel="stylesheet" href="/css/seller.css">
    <link rel="stylesheet" href="/css/themify-icons/themify-icons.css">
    <link rel="shortcut icon" href="/image/spicon.png" type="image/x-icon" />

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div style="display: none;" class="nav_bar">
        <div class="container_nav_bar">
            <div class="nav_bar_items">
                <ul type='none'>
                    <li><a class="nutdangki" href="/seller" target="_blank">Kênh Người Bán</a></li>
                    <li>Trở thành Người bán Shopee</li>
                    <li>Tải ứng dụng</li>
                    <li>Kết nối
                        <i class="ti-facebook"></i>
                        <i class="ti-instagram"></i>

                    </li>
                </ul>
            </div>

            <div class="nav_bar_links">
                <ul type='none'>
                    <li class="noti_link"><a href=""><i class="ti-bell"></i>Thông báo</a>
                        <div class="notification">
                            <div class="noti_header">
                                <p>Thông báo mới nhận</p>
                            </div>
                            <div class="noti_container">
                                <div class="request">
                                    <div class="signin_request"><a class="item_image__server_render" href="/login">Đăng
                                            Nhập</a></div>
                                    <div class="signup_request"><a class="item_image__server_render" href="/dangki"
                                            target="_blank">Đăng
                                            Ký</a></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href=""><i class="ti-help-alt"></i> Hỗ trợ</a></li>
                    <li class="language_link"><a href=""><i class="ti-world"></i> Tiếng Việt</a>
                        <div class="language_options">
                            <p class="lang">Tiếng Anh</p>
                            <p class="lang">Tiếng Nhật</p>
                            <p class="lang">Tiếng Trung</p>

                        </div>
                    </li>
                    <li class="signin">
                        <% if(loginUser){ %>
                            Hello <%= loginUser %>
                                ID: <%= userId %>
                                    <% } %>
                    </li>
                    <li class="signup"><a class="nutdangki" href="/dangki" target="_blank">Đăng Ký</a></li>

                    <li class="signin"><a class="nutdangki" href="/login">
                            <% if(!loginUser){ %>
                                Đăng Nhập
                                <% } %>
                        </a></li>

                    <li class="signin"><a class="nutdangki" href="/logout">Đăng Xuất</a></li>
                </ul>
            </div>
        </div>

        <div class="container_wrapper">
            <div class="logo">
                <a href="/home"><img class="sp_logo" src="image/xóp pi logo.png" alt=""></a>
            </div>
            <div>
                <div class="search_bar">
                    <input type="text">
                    <div class="search_icon">
                        <i style="color: white;" class="ti-search"></i>
                    </div>
                </div>
                <div class="suggestion">
                    <p>Váy</p>
                    <p>Dép</p>
                    <p>Dép nữ</p>
                    <p>Túi xách nữ</p>
                    <p>Áo Croptop</p>
                    <p>Chân váy</p>
                    <p>Áo phông</p>
                    <p>Giày cao gót</p>
                </div>
            </div>

            <div class="cart">
                <i style="font-size:32px;color:white" class="ti-shopping-cart"></i>
            </div>
        </div>
    </div>

    <div style="margin-top: 15%;display: none;" class="form-item">
        <form action="/upload-new-item-seller" method="POST">
            <div><b>Thêm sản phẩm mới lên Shopee</b></div>
            <div><label>Item Name: </label>
                <input type="text" name="itemName" />
            </div>
            <div><label>Price: </label>
                <input type="text" name="itemPrice" />
            </div>
            <div><label>Category: </label>
                <input type="text" name="ItemCategory" />
            </div>
            <div>
                <input type="text" hidden value="<%=userId %>" name="userId" />
                <input type="text" hidden value="<%=sellerName %>" name="sellerName" />
                <button type="submit">Thêm sản phẩm</button>
            </div>
        </form>
    </div>

    <div style="margin-top: 10px;display: none;"><b>Sản phẩm hiện tại của bạn trên shop</b></div>
    <div style="margin-top: 10px;display: none;">
        <table class="w3-table-all w3-hoverable">
            <thead>
                <tr class="w3-light-grey">
                    <th>ID</th>
                    <th>Item Name</th>
                    <th>Price</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i < dataProduct.length; i++) { %>
                    <tr>
                        <td>
                            <%= dataProduct[i].Pid %>
                        </td>
                        <td>
                            <%= dataProduct[i].item_name %>
                        </td>
                        <td>
                            <%= dataProduct[i].price %>
                        </td>
                        <td>
                            <%= dataProduct[i].category %>
                        </td>
                        <% } %>
                    </tr>

            </tbody>



        </table>

    </div>

    <nav class="nav_bar">
        <div class="left_obj">
            <div class="logo">
                <img src="/image/shop_logo.png" alt="" width="60px">
            </div>
            <div class="nav_title">Thêm 1 sản phẩm mới</div>
        </div>

        <div class="right_obj">
            <div class="user">
                <i class="ti-user"></i>
                <span>tên user</span>
            </div>
            <div class="noti">
                <i class="ti-bell"></i>
            </div>
            <button class="help_btn">Trung Tâm Trợ Giúp</button>
        </div>   
    </nav>

    <form action="/upload-new-item-seller" method="POST">
        <div class="add_form_container">
            <div class="add_form_box">
                <h4 class="header">Thông tin cơ bản</h4>

                <div class="tag">
                    <label for=""><span>* Tên sản phẩm</span>
                        <input type="text" name="itemName" />
                    </label>
                    <!-- <br> -->
                    <label class="spe" for=""><span>* Mô tả</span>
                        <textarea rows="4" cols="50"></textarea>
                    </label>
                    <!-- <br> -->
                    <label for=""><span>* Danh mục</span>
                        <select name="ItemCategory">
                            <option value="Áo nam">Áo nam</option>
                            <option value="Áo nữ">Áo nữ</option>
                            <option value="Đồ điện tử">Đồ điện tử</option>
                            <option value="Thiết bị gia dụng">Thiết bị gia dụng</option>
                            <option value="Thú cưng">Thú cưng</option>
                        </select>
                        <!-- <input type="text" name="ItemCategory" /> -->
                    </label>
                    <!-- <br> -->
                    <label for=""><span>* Thương hiệu</span>
                        <input type="text">
                    </label>
                    <!-- <br> -->
                    <label for=""><span>* Tên cửa hàng</span>
                        <input type="text">
                    </label>
                </div>            
            </div>
            
            <div class="map">
                <div class="map_item">
                    <div class="col1 active"></div>
                    <div class="item_title">Thông tin cơ bản</div>
                </div>
                <div class="map_item">
                    <div class="col1"></div>
                    <div class="item_title">Thông tin bán hàng</div>
                </div>
                <div class="map_item">
                    <div class="col1"></div>
                    <div class="item_title">Sản phẩm của bạn</div>
                </div>
            </div>

        </div>

        <div class="add_form_container">
            <div class="add_form_box">
                <h4 class="header">Thông tin bán hàng</h4>

                <div class="tag">
                    <label for=""><span>* Giá</span>
                        <input type="text" name="itemPrice" />
                    </label>
                    <!-- <br> -->
                    </label>
                    <!-- <br> -->
                    <label for=""><span>* Kho hàng</span>
                        <input type="text">
                    </label>

                    <!-- <br> -->
                    <label for=""><span>* Phân loại hàng</span>
                        <input type="text">
                    </label>
                </div>            
            </div>
        </div>
        <div  class="add_form_container">
            <input type="text" hidden value="<%=userId %>" name="userId" />
            <input type="text" hidden value="<%=sellerName %>" name="sellerName" />
            <button class="add_btn" type="submit">Thêm sản phẩm</button>
        </div>
    </form>

        <div class="add_form_container">
            <div class="add_form_box new">
                <h4 class="header">Sản phẩm của bạn ở trên Shopee</h4>

                <div class="seller_box">
                <div style="margin-top: 10px;display: none;"><b>Sản phẩm hiện tại của bạn trên shop</b></div>
                    <div style="margin-top: 10px;">
                    <table class="w3-table-all w3-hoverable">
                        <thead>
                            <tr class="w3-light-grey">
                                <th>ID</th>
                                <th>Item Name</th>
                                <th>Price</th>
                                <th>Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i=0; i < dataProduct.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= dataProduct[i].Pid %>
                                    </td>
                                    <td>
                                        <%= dataProduct[i].item_name %>
                                    </td>
                                    <td>
                                        <%= dataProduct[i].price %>
                                    </td>
                                    <td>
                                        <%= dataProduct[i].category %>
                                    </td>
                                    <% } %>
                                </tr>
                        </tbody>
                    </table>
                </div>            
            </div>
        </div>
        </div>

        <div class="footer">
            <div class="footer_container">
                <div class="footer_content">
                    <h1 class="footer_content_header">
                        SHOPEE - GÌ CŨNG CÓ, MUA HẾT Ở SHOPEE
                    </h1>
                    <div class="footer_content_body">
                        Shopee - ứng dụng mua sắm trực tuyến thú vị, tin cậy, an toàn và miễn phí! Shopee là nền tảng giao
                        dịch trực tuyến hàng đầu ở Đông Nam Á, Việt Nam,<a href="">Singapore,Malaysia,Indonesia,Thái Lan,
                            Philipin, Đài Loan</a> và <a href="">Brazil</a>. Với sự đảm bảo của Shopee, bạn sẽ mua hàng trực
                        tuyến an tâm và nhanh chóng hơn bao giờ hết!
                    </div>
    
                    <h1 class="footer_content_header">
                        MUA SẮM VÀ BÁN HÀNG ONLINE ĐƠN GIẢN, NHANH CHÓNG VÀ AN TOÀN
                    </h1>
                    <div class="footer_content_body">
                        Nếu bạn đang tìm kiếm một trang web để mua và bán hàng trực tuyến thì Shopee.vn là một sự lựa chọn
                        tuyệt vời dành cho bạn. Bản chất của Shopee là một social E-commerce platform - nền tảng trang web
                        thương mại điện tử tích hợp mạng xã hội. Điều này cho phép người mua và người bán hàng dễ dàng tương
                        tác, trao đổi thông tin về sản phẩm và chương trình khuyến mãi của shop. Nhờ nền tảng đó, việc mua
                        bán trên Shopee trở nên nhanh chóng và đơn giản hơn. Bạn có thể trò chuyện trực tiếp với nhà bán
                        hàng để hỏi trực tiếp về mặt hàng cần mua. Còn nếu bạn muốn tìm mua những dòng sản phẩm chính hãng,
                        uy tín,<a href="">Shopee Mall</a> chính là sự lựa chọn lí tưởng dành cho bạn. Để bạn có thể dễ dàng
                        khi tìm hiểu và sử dụng sản phẩm, <a href=""> Shopee Blog</a>- trang blog thông tin chính thức của
                        Shopee - sẽ giúp bạn có thể tìm được cho mình các kiến thức về xu hướng thời trang, review công
                        nghệ, mẹo làm đẹp, tin tức tiêu dùng và deal giá tốt bất ngờ.
                    </div>
    
                    <div class="more">
                        <span>Xem Thêm</span>
                        <i class="ti-angle-right"></i>
                    </div>
    
                    <div class="sub_footer">
                        <div class="footer_content_body">
                            <div>Đến với Shopee, cơ hội để trở thành một nhà bán hàng dễ dàng hơn bao giờ hết. Chỉ với vài
                                thao tác trên ứng dụng, bạn đã có thể đăng bán ngay những sản phẩm của mình. Không những
                                thế, các nhà bán hàng có thể tự <a href="">tạo chương trình khuyến mãi trên Shopee</a> để
                                thu hút người mua với những sản phẩm có mức giá hấp dẫn. Khi đăng nhập tại Shopee Kênh người
                                bán, bạn có thể dễ dàng phân loại sản phẩm, theo dõi đơn hàng, chăm sóc khách hàng và cập
                                nhập ngay các hoạt động của shop.</div>
                            <div>Shopee luôn cam kết mọi sản phẩm trên Shopee, đặc biệt là Shopee Mall đều là những sản phẩm
                                chính hãng, đầy đủ tem nhãn, bảo hành từ nhà bán hàng. Ngoài ra, Shopee bảo vệ người mua và
                                người bán bằng cách giữ số tiền giao dịch đến khi người mua xác nhận đồng ý với đơn hàng và
                                không có yêu cầu khiếu nại, trả hàng hay hoàn tiền nào. Thanh toán sau đó sẽ được chuyển đến
                                cho người bán. Đến với Shopee ngay hôm nay để mua hàng online giá rẻ và trải nghiệm dịch vụ
                                chăm sóc khách hàng tuyệt vời tại đây. Đặc biệt khi mua sắm trên Shopee Mall, bạn sẽ được
                                miễn phí vận chuyển, giao hàng tận nơi và 7 ngày miễn phí trả hàng. Ngoài ra, khách hàng có
                                thể sử dụng Shopee Xu để đổi lấy mã giảm giá có giá trị cao và voucher dịch vụ hấp dẫn. Tiếp
                                đến là Shopee Mum's Club, Shopee Beauty Club và Shopee Book Club với các ưu đãi độc quyền từ
                                các thương hiệu lớn có những khách hàng đã đăng ký làm thành viên. Hãy truy cập ngay
                                Shopee.vn hoặc tải ngay ứng dụng Shopee về điện thoại ngay hôm nay!</div>
                        </div>
                        <div class="footer_content_header">
                            TẢI ỨNG DỤNG SHOPEE NGAY ĐỂ MUA BÁN ONLINE MỌI LÚC, MỌI NƠI
                        </div>
                        <div class="footer_content_body">
                            <div>Ưu điểm của ứng dụng Shopee là cho phép bạn mua và bán hàng mọi lúc, mọi nơi. Bạn có thể
                                tải ứng dụng Shopee cũng như đăng sản phẩm bán hàng một cách nhanh chóng và tiện lợi. Ngoài
                                ra, ứng dụng Shopee còn có những ưu điểm sau:</div>
                            <ul class="footer_content_body_ul">
                                <li>Giao diện thân thiện, đơn giản, dễ sử dụng. Bạn sẽ dễ dàng thấy được ngay những sản phẩm
                                    nổi bật cũng như dễ dàng tìm đến các ô tìm kiếm, giỏ hàng hoặc tính năng chat liền tay.
                                </li>
                                <li>Ứng dụng tích hợp công nghệ quản lý đơn mua và bán hàng tiện lợi trên cùng một tài
                                    khoản. Bạn sẽ vừa là người mua hàng, vừa là người bán hàng rất linh hoạt, dễ dàng.</li>
                                <li>Cập nhập thông tin khuyến mãi,<a href="">Shopee flash sale</a> nhanh chóng và liên tục.
                                </li>
                            </ul>
                        </div>
                        <div class="footer_content_body">
                            <div>Tại Shopee, bạn có thể lấy các <a href="">mã giảm giá Shopee vàmã miễn phí vận chuyển toàn
                                    quốc</a>. Bên cạnh đó, Shopee cũng sẽ có những chiến dịch khuyến mãi lớn hằng năm như <a
                                    href="">Siêu hội tiêu dùng 15.3</a>,<a href="">Shopee 4.4 sale</a>,<a href="">Shopee 5.5
                                    sale</a>,<a href="">Shopee 9.9 sale</a>,<a href="">Shopee 10.10 sale</a>,<a
                                    href="">Shopee 11.11 sale</a> ,<a href="">Shopee 12.12 sale</a>,<a href="">Shopee Tết
                                    Sale</a> . Đây là thời điểm để người mua hàng có thể nhanh tay chọn ngay cho mình những
                                mặt hàng ưa thích với mức giá giảm kỉ lục.</div>
                        </div>
    
                        <div class="footer_content_header">
                            MUA HÀNG HIỆU CAO CẤP GIÁ TỐT TẠI SHOPEE
                        </div>
                        <div class="footer_content_body">
                            <div>Bên cạnh <a href="">Shopee Premium</a>, Shopee còn có rất nhiều khuyến mãi khủng cho <a
                                    href="">hàng hiệu giảm đến 50%</a>. Cộng với mã giao hàng miễn phí, Shopee cũng có các
                                mã giảm giá được phân phối mỗi tháng từ rất nhiều gian hàng chính hãng tham gia chương trình
                                khuyến mãi này. Bên cạnh đó, Shopee còn tập hợp rất nhiều thương hiệu đình đám được các nhà
                                bán lẻ uy tín phân phối bán trên Shopee, <a href="">top sản phẩm hot deal cho bạn săn
                                    sale</a> luôn cập nhật mỗi giờ, mỗi ngày, đem đến cho bạn sự lựa chọn đa dạng, từ các
                                hãng mỹ phẩm nổi tiếng hàng đầu như <a href="">Kiehl's, MAC, Foreo, SK-II, Estee
                                    Lauder</a>,... Đến những thương hiệu công nghệ nổi tiếng như <a href="">camera hành
                                    trình Gopro, máy ảnh Fuifilm, webcam Hikvision, máy đọc sách Kindle</a>,... Tại Shopee,
                                bạn có thể dễ dàng tìm thấy các thương hiệu giày thể thao phổ biến hiện nay như: <a
                                    href="">Converse, New Balance, Nike, Vans, Crocs</a>,...</div>
                        </div>
    
                        <div class="footer_content_header">
                            MUA HÀNG CHÍNH HÃNG TỪ CÁC THƯƠNG HIỆU LỚN VỚI SHOPEE
                        </div>
                        <div class="footer_content_body">
                            <div>Mua hàng trên Shopee luôn là một trải nghiệm ấn tượng. Dù bạn đang có nhu cầu mua bất kỳ
                                mặt hàng <a href="">thời trang nam, thời trang nữ, đồng hồ</a>, điện thoại,<a href="">nước
                                    rửa tay khô</a> hay <a href="">khẩu trang N95</a> thì Shopee cũng sẽ đảm bảo cung cấp
                                cho bạn những sản phẩm ưng ý. Bên cạnh đó, Shopee cũng có sự tham gia của các thương hiệu
                                hàng đầu thế giới ở đa dạng nhiều lĩnh vực khác nhau. Trong đó có thể kể đến Samsung, OPPO,
                                Xiaomi, Innisfree, Unilever, P&G, Biti’s,...Các thương hiệu này hiện cũng đã có cửa hàng
                                chính thức trên Shopee Mall với hàng trăm mặt hàng chính hãng, được cập nhập liên tục. Là
                                một kênh bán hàng uy tín, Shopee luôn cam kết mang lại cho khách hàng những trải nghiệm mua
                                sắm online giá rẻ, an toàn và tin cậy. Mọi thông tin về người bán và người mua đều được bảo
                                mật tuyệt đối. Các hoạt động giao dịch thanh toán tại Shopee luôn được đảm bảo diễn ra nhanh
                                chóng, an toàn. Một vấn đề nữa khiến cho các khách hàng luôn quan tâm đó chính là mua hàng
                                trên Shopee có đảm bảo không.</div>
                            <div>Shopee luôn cam kết mọi sản phẩm trên Shopee, đặc biệt là Shopee Mall đều là những sản phẩm
                                chính hãng, đầy đủ tem nhãn, bảo hành từ nhà bán hàng. Ngoài ra, Shopee bảo vệ người mua và
                                người bán bằng cách giữ số tiền giao dịch đến khi người mua xác nhận đồng ý với đơn hàng và
                                không có yêu cầu khiếu nại, trả hàng hay hoàn tiền nào. Thanh toán sau đó sẽ được chuyển đến
                                cho người bán. Đến với Shopee ngay hôm nay để mua hàng online giá rẻ và trải nghiệm dịch vụ
                                chăm sóc khách hàng tuyệt vời tại đây. Đặc biệt khi mua sắm trên Shopee Mall, bạn sẽ được
                                miễn phí vận chuyển, giao hàng tận nơi và 7 ngày miễn phí trả hàng. Ngoài ra, khách hàng có
                                thể sử dụng <a href="">Shopee Xu</a> để đổi lấy mã giảm giá có giá trị cao và voucher dịch
                                vụ hấp dẫn. Tiếp đến là <a href=""> Shopee Mum's Club, Shopee Beauty Club và Shopee Book
                                    Club</a> với các ưu đãi độc quyền từ các thương hiệu lớn có những khách hàng đã đăng ký
                                làm thành viên. Hãy truy cập ngay Shopee.vn hoặc tải ngay ứng dụng Shopee về điện thoại ngay
                                hôm nay!</div>
                        </div>
    
                    </div>
                </div>
                <div class="footer_category">
                    <div class="footer_category_header">Danh Mục</div>
                    <div class="col_categories">
                        <div class="col_category col5">
                            <div class="col_category_header">THỜI TRANG NAM</div>
                            <p>Áo Khoác | Áo Vest và Blazer |</p>
                            <p>Áo Hoodie, Áo Len & Áo Nỉ | Quần Jeans |</p>
                            <p>Quần Dài/Quần Âu | Quần Short | Áo |</p>
                            <p>Áo Ba Lỗ | Đồ Lót | Đồ Ngủ | Đồ Bộ |</p>
                            <p>Vớ/Tất | Trang Phục Truyền Thống |</p>
                            <p> Đồ Hóa Trang | Trang Phục Ngành Nghề |</p>
                            <p>Khác | Trang Sức Nam | Kính Mắt Nam |</p>
                            <p>Thắt Lưng Nam | Cà vạt & Nơ cổ |</p>
                            <p>Phụ Kiện Nam</p>
    
                        </div>
    
                        <div class="col_category col5">
                            <div class="col_category_header">THỜI TRANG NAM</div>
                            <p>Áo Khoác | Áo Vest và Blazer |</p>
                            <p>Áo Hoodie, Áo Len & Áo Nỉ | Quần Jeans |</p>
                            <p>Quần Dài/Quần Âu | Quần Short | Áo |</p>
                            <p>Áo Ba Lỗ | Đồ Lót | Đồ Ngủ | Đồ Bộ |</p>
                            <p>Vớ/Tất | Trang Phục Truyền Thống |</p>
                            <p> Đồ Hóa Trang | Trang Phục Ngành Nghề |</p>
                            <p>Khác | Trang Sức Nam | Kính Mắt Nam |</p>
                            <p>Thắt Lưng Nam | Cà vạt & Nơ cổ |</p>
                            <p>Phụ Kiện Nam</p>
                        </div>
    
                        <div class="col_category col5">
                            <div class="col_category_header">THỜI TRANG NAM</div>
                            <p>Áo Khoác | Áo Vest và Blazer |</p>
                            <p>Áo Hoodie, Áo Len & Áo Nỉ | Quần Jeans |</p>
                            <p>Quần Dài/Quần Âu | Quần Short | Áo |</p>
                            <p>Áo Ba Lỗ | Đồ Lót | Đồ Ngủ | Đồ Bộ |</p>
                            <p>Vớ/Tất | Trang Phục Truyền Thống |</p>
                            <p> Đồ Hóa Trang | Trang Phục Ngành Nghề |</p>
                            <p>Khác | Trang Sức Nam | Kính Mắt Nam |</p>
                            <p>Thắt Lưng Nam | Cà vạt & Nơ cổ |</p>
                            <p>Phụ Kiện Nam</p>
                        </div>
    
                        <div class="col_category col5">
                            <div class="col_category_header">THỜI TRANG NAM</div>
                            <p>Áo Khoác | Áo Vest và Blazer |</p>
                            <p>Áo Hoodie, Áo Len & Áo Nỉ | Quần Jeans |</p>
                            <p>Quần Dài/Quần Âu | Quần Short | Áo |</p>
                            <p>Áo Ba Lỗ | Đồ Lót | Đồ Ngủ | Đồ Bộ |</p>
                            <p>Vớ/Tất | Trang Phục Truyền Thống |</p>
                            <p> Đồ Hóa Trang | Trang Phục Ngành Nghề |</p>
                            <p>Khác | Trang Sức Nam | Kính Mắt Nam |</p>
                            <p>Thắt Lưng Nam | Cà vạt & Nơ cổ |</p>
                            <p>Phụ Kiện Nam</p>
                        </div>
    
                        <div class="col_category col5">
                            <div class="col_category_header">THỜI TRANG NAM</div>
                            <p>Áo Khoác | Áo Vest và Blazer |</p>
                            <p>Áo Hoodie, Áo Len & Áo Nỉ | Quần Jeans |</p>
                            <p>Quần Dài/Quần Âu | Quần Short | Áo |</p>
                            <p>Áo Ba Lỗ | Đồ Lót | Đồ Ngủ | Đồ Bộ |</p>
                            <p>Vớ/Tất | Trang Phục Truyền Thống |</p>
                            <p> Đồ Hóa Trang | Trang Phục Ngành Nghề |</p>
                            <p>Khác | Trang Sức Nam | Kính Mắt Nam |</p>
                            <p>Thắt Lưng Nam | Cà vạt & Nơ cổ |</p>
                            <p>Phụ Kiện Nam</p>
                        </div>
    
                        <div class="col_category col5">
                            <div class="col_category_header">THỜI TRANG NAM</div>
                            <p>Áo Khoác | Áo Vest và Blazer |</p>
                            <p>Áo Hoodie, Áo Len & Áo Nỉ | Quần Jeans |</p>
                            <p>Quần Dài/Quần Âu | Quần Short | Áo |</p>
                            <p>Áo Ba Lỗ | Đồ Lót | Đồ Ngủ | Đồ Bộ |</p>
                            <p>Vớ/Tất | Trang Phục Truyền Thống |</p>
                            <p> Đồ Hóa Trang | Trang Phục Ngành Nghề |</p>
                            <p>Khác | Trang Sức Nam | Kính Mắt Nam |</p>
                            <p>Thắt Lưng Nam | Cà vạt & Nơ cổ |</p>
                            <p>Phụ Kiện Nam</p>
                        </div>
    
                        <div class="col_category col5">
                            <div class="col_category_header">THỜI TRANG NAM</div>
                            <p>Áo Khoác | Áo Vest và Blazer |</p>
                            <p>Áo Hoodie, Áo Len & Áo Nỉ | Quần Jeans |</p>
                            <p>Quần Dài/Quần Âu | Quần Short | Áo |</p>
                            <p>Áo Ba Lỗ | Đồ Lót | Đồ Ngủ | Đồ Bộ |</p>
                            <p>Vớ/Tất | Trang Phục Truyền Thống |</p>
                            <p> Đồ Hóa Trang | Trang Phục Ngành Nghề |</p>
                            <p>Khác | Trang Sức Nam | Kính Mắt Nam |</p>
                            <p>Thắt Lưng Nam | Cà vạt & Nơ cổ |</p>
                            <p>Phụ Kiện Nam</p>
                        </div>
    
                        <div class="col_category col5">
                            <div class="col_category_header">THỜI TRANG NAM</div>
                            <p>Áo Khoác | Áo Vest và Blazer |</p>
                            <p>Áo Hoodie, Áo Len & Áo Nỉ | Quần Jeans |</p>
                            <p>Quần Dài/Quần Âu | Quần Short | Áo |</p>
                            <p>Áo Ba Lỗ | Đồ Lót | Đồ Ngủ | Đồ Bộ |</p>
                            <p>Vớ/Tất | Trang Phục Truyền Thống |</p>
                            <p> Đồ Hóa Trang | Trang Phục Ngành Nghề |</p>
                            <p>Khác | Trang Sức Nam | Kính Mắt Nam |</p>
                            <p>Thắt Lưng Nam | Cà vạt & Nơ cổ |</p>
                            <p>Phụ Kiện Nam</p>
                        </div>
    
                        <div class="col_category col5">
                            <div class="col_category_header">THỜI TRANG NAM</div>
                            <p>Áo Khoác | Áo Vest và Blazer |</p>
                            <p>Áo Hoodie, Áo Len & Áo Nỉ | Quần Jeans |</p>
                            <p>Quần Dài/Quần Âu | Quần Short | Áo |</p>
                            <p>Áo Ba Lỗ | Đồ Lót | Đồ Ngủ | Đồ Bộ |</p>
                            <p>Vớ/Tất | Trang Phục Truyền Thống |</p>
                            <p> Đồ Hóa Trang | Trang Phục Ngành Nghề |</p>
                            <p>Khác | Trang Sức Nam | Kính Mắt Nam |</p>
                            <p>Thắt Lưng Nam | Cà vạt & Nơ cổ |</p>
                            <p>Phụ Kiện Nam</p>
                        </div>
    
                        <div class="col_category col5">
                            <div class="col_category_header">THỜI TRANG NAM</div>
                            <p>Áo Khoác | Áo Vest và Blazer |</p>
                            <p>Áo Hoodie, Áo Len & Áo Nỉ | Quần Jeans |</p>
                            <p>Quần Dài/Quần Âu | Quần Short | Áo |</p>
                            <p>Áo Ba Lỗ | Đồ Lót | Đồ Ngủ | Đồ Bộ |</p>
                            <p>Vớ/Tất | Trang Phục Truyền Thống |</p>
                            <p> Đồ Hóa Trang | Trang Phục Ngành Nghề |</p>
                            <p>Khác | Trang Sức Nam | Kính Mắt Nam |</p>
                            <p>Thắt Lưng Nam | Cà vạt & Nơ cổ |</p>
                            <p>Phụ Kiện Nam</p>
                        </div>
    
                        <div class="col_category col5">
                            <div class="col_category_header">THỜI TRANG NAM</div>
                            <p>Áo Khoác | Áo Vest và Blazer |</p>
                            <p>Áo Hoodie, Áo Len & Áo Nỉ | Quần Jeans |</p>
                            <p>Quần Dài/Quần Âu | Quần Short | Áo |</p>
                            <p>Áo Ba Lỗ | Đồ Lót | Đồ Ngủ | Đồ Bộ |</p>
                            <p>Vớ/Tất | Trang Phục Truyền Thống |</p>
                            <p> Đồ Hóa Trang | Trang Phục Ngành Nghề |</p>
                            <p>Khác | Trang Sức Nam | Kính Mắt Nam |</p>
                            <p>Thắt Lưng Nam | Cà vạt & Nơ cổ |</p>
                            <p>Phụ Kiện Nam</p>
                        </div>
    
                        <div class="col_category col5">
                            <div class="col_category_header">THỜI TRANG NAM</div>
                            <p>Áo Khoác | Áo Vest và Blazer |</p>
                            <p>Áo Hoodie, Áo Len & Áo Nỉ | Quần Jeans |</p>
                            <p>Quần Dài/Quần Âu | Quần Short | Áo |</p>
                            <p>Áo Ba Lỗ | Đồ Lót | Đồ Ngủ | Đồ Bộ |</p>
                            <p>Vớ/Tất | Trang Phục Truyền Thống |</p>
                            <p> Đồ Hóa Trang | Trang Phục Ngành Nghề |</p>
                            <p>Khác | Trang Sức Nam | Kính Mắt Nam |</p>
                            <p>Thắt Lưng Nam | Cà vạt & Nơ cổ |</p>
                            <p>Phụ Kiện Nam</p>
                        </div>
    
                        <div class="col_category col5">
                            <div class="col_category_header">THỜI TRANG NAM</div>
                            <p>Áo Khoác | Áo Vest và Blazer |</p>
                            <p>Áo Hoodie, Áo Len & Áo Nỉ | Quần Jeans |</p>
                            <p>Quần Dài/Quần Âu | Quần Short | Áo |</p>
                            <p>Áo Ba Lỗ | Đồ Lót | Đồ Ngủ | Đồ Bộ |</p>
                            <p>Vớ/Tất | Trang Phục Truyền Thống |</p>
                            <p> Đồ Hóa Trang | Trang Phục Ngành Nghề |</p>
                            <p>Khác | Trang Sức Nam | Kính Mắt Nam |</p>
                            <p>Thắt Lưng Nam | Cà vạt & Nơ cổ |</p>
                            <p>Phụ Kiện Nam</p>
                        </div>
    
                        <div class="col_category col5">
                            <div class="col_category_header">THỜI TRANG NAM</div>
                            <p>Áo Khoác | Áo Vest và Blazer |</p>
                            <p>Áo Hoodie, Áo Len & Áo Nỉ | Quần Jeans |</p>
                            <p>Quần Dài/Quần Âu | Quần Short | Áo |</p>
                            <p>Áo Ba Lỗ | Đồ Lót | Đồ Ngủ | Đồ Bộ |</p>
                            <p>Vớ/Tất | Trang Phục Truyền Thống |</p>
                            <p> Đồ Hóa Trang | Trang Phục Ngành Nghề |</p>
                            <p>Khác | Trang Sức Nam | Kính Mắt Nam |</p>
                            <p>Thắt Lưng Nam | Cà vạt & Nơ cổ |</p>
                            <p>Phụ Kiện Nam</p>
                        </div>
    
                        <div class="col_category col5">
                            <div class="col_category_header">THỜI TRANG NAM</div>
                            <p>Áo Khoác | Áo Vest và Blazer |</p>
                            <p>Áo Hoodie, Áo Len & Áo Nỉ | Quần Jeans |</p>
                            <p>Quần Dài/Quần Âu | Quần Short | Áo |</p>
                            <p>Áo Ba Lỗ | Đồ Lót | Đồ Ngủ | Đồ Bộ |</p>
                            <p>Vớ/Tất | Trang Phục Truyền Thống |</p>
                            <p> Đồ Hóa Trang | Trang Phục Ngành Nghề |</p>
                            <p>Khác | Trang Sức Nam | Kính Mắt Nam |</p>
                            <p>Thắt Lưng Nam | Cà vạt & Nơ cổ |</p>
                            <p>Phụ Kiện Nam</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

        <script>
            //map
        const col1 = document.querySelectorAll('.col1')
        const map = document.querySelector('.map')
        window.addEventListener('scroll', ()=> {
            const scroll = window.scrollY
            if(scroll < 850 && scroll > 450) {
                col1[0].classList.remove('active')
                col1[1].classList.add('active')
                col1[2].classList.remove('active')
            } else if(scroll > 850 && scroll < 1300 ) {
                col1[0].classList.remove('active')
                col1[1].classList.remove('active')
                col1[2].classList.add('active')
            } else if(scroll < 450) {
                col1[0].classList.add('active')
                col1[1].classList.remove('active')
            } else if (scroll > 1300) {
                map.style.display='none'
            } else {
                map.style.display='block'
            }
        })
            

        </script>

</body>

</html>